.input-wrapper{
        label{
        font-size: 18px;
        color: var(--font-input);
        text-align:start;
        margin-bottom: 10px;
        }
        input{
            width: 100%;
            border-radius: 12px;
            font-size: 18px;
            background-color: var(--bg-input);  
            border: 1px solid var(--border-input);
            color: var(--font-input);
            padding: 16px 0 16px 16px;
            text-align: start;
            outline: none;
            &:focus{
                border-color: var(--border-input);
            }
        }
}