.input-wrapper{
        label{
        font-size: 17px;
        color: var(--font-input);
        text-align:start;
        margin-bottom: 10px;
        }
        input{
            width: 100%;
            border-radius: 12px;
            font-size: 16px;
            background-color: var(--bg-input);  
            border: 1px solid var(--border-input);
            color: var(--font-input);
            padding: 16px 0 16px 16px;
            text-align: start;
            outline: none;
            margin-bottom: 5px;
            &:focus{
                border-color: var(--border-input);
            }
            &:valid:not(:placeholder-shown), &:invalid:not(:placeholder-shown){
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: calc(100% - 10px);
            }
            &:invalid:not(:placeholder-shown){
                border: 1px solid var(--red);
                background-image: url(/assets/imgs/png/unchecked-mark.png);   
            }
            &:invalid:not(:placeholder-shown) + p{
                color: var(--red);
            }
            &:valid:not(:placeholder-shown){
                background-image: url(/assets/imgs/png/checked-mark.png);
            }
        }
}
@media (max-width: 1240px) {
    .input-wrapper{
        label{
            font-size: 16px;
            color: var(--font-input);
            text-align:start;
            margin-bottom: 10px;
            }
            input{
                width: 100%;
                border-radius: 12px;
                font-size: 16px;
                background-color: var(--bg-input);  
                border: 1px solid var(--border-input);
                color: var(--font-input);
                padding: 14px 0 14px 14px;
                text-align: start;
                outline: none;
                margin-bottom: 5px;
                &:focus{
                    border-color: var(--border-input);
                }
            }
    }
}