<app-default-layout-login
  title="Welcome Back to Login"
  text="Today is a new day. It's your day. You shape it."
  text2="Sign in to start managing your life fitness."
  btnPrimary="Login"
  btnSecondary="Sign up"
  (formSubmit)="submit()"
>
  <form [formGroup]="loginForm">
    <div class="email-input">
      <app-primary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="Email"
      ></app-primary-input>
    </div>
    <div class="password-input">
      <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Password"
        placeholder="Your Password"
      ></app-primary-input>
    </div>
  </form>
</app-default-layout-login>
