@import  'ngx-toastr/toastr';
:root{
    --red:#F20530;
    --orange:#eb6421;
    --dark-orange:#d24b08;
    --black:#0D0D0D;
    --white:#FFFFFF;
    --grey:#7d7d7d;
    --light-grey:#c9c9c9;
    --bg-input:#F7FBFF;
    --border-input:#D4D7E3;
    --font-input:#8897AD;
}
@font-face {
    font-family: 'SF-pro';
    src: url(assets/fonts/sf-pro/SF-Pro-Rounded-Regular.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-pro';
    src: url(assets/fonts/sf-pro/SF-Pro-Rounded-Medium.otf);
    font-weight: 600;
}
@font-face {
    font-family: 'SF-pro';
    src: url(assets/fonts/sf-pro/SF-Pro-Rounded-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'SF-pro-normal';
    src: url(assets/fonts/sf-pro/SFPRODISPLAYREGULAR.OTF);
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF-pro-normal'
} 
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}