<main>
    <section class="form-section">
        <span><img src="/assets/imgs/png/GreenHub2.png" alt=""></span>
        <h1>{{ title }}</h1>
        <h2>Today is a new day. It's your vibe. You grow it.
            Sign in to start connecting with the community and sharing your journey. 🌱</h2>
        <!-- <a href="">Forgot password?</a> -->
        <button class="primaryBtn">{{ primaryBtnText }}</button>
        <button class="secondaryBtn">{{ secondaryBtnText}}</button>
    </section>
    <section class="art-section">
        <img src="/assets/imgs/svg/Login Art.svg" alt="">
    </section>
</main>